.h4-style {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
    word-spacing: 2.5px;
    padding: 0 1.8rem 1.6rem;
    border-bottom: 2px solid #6b7074;
}

.h2-style {
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    padding: 1.6rem 0 2rem;
}

@media all and (min-width: 321px){
    .h2-style {
        font-size: 4rem;
    }
}

.h3-style {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

.h5-style {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 0;
}